body {
    margin: 0px;
}
a {
    color: white;
    text-decoration: none;
}
p {
    color: white;
}
li {
    color: white;
    padding-left: 10px;
}
h1 {
    font-size: 45px;
    text-align: center;
    border-bottom: 5px solid white;
    margin: 0px;
    padding: 20px;
    background-color: black;
}
h2 {
    color: white;
}
#main {
    margin: 0;
    background-image: url('seoul.jpg');
    background-size: 100%;
}
#intro {
    margin: 0;
    background-image: url('html.jpg');
    background-size: 100%;
}
#file {
    margin: 0;
    background-image: url('file.jpg');
    background-size: 100%;
}
#work {
    margin: 0;
    background-image: url('work.jpg');
    background-size: 100%;
}
#grid ol {
    color: white;
    border-right: 5px solid white;
    padding-left: 10px;
    text-align: center;
    margin: 0;
    padding: 20px;
    background-color: transparent;
}
#list {
    margin-left: 15px;
}
#grid {
    display: grid;
    grid-template-columns: 150px 1fr;
    background-color: transparent;
    border-bottom: 5px solid white;
}
#article {
    padding-left: 25px;
    background-color: transparent;
}
#article a {
    text-decoration: underline;
    color: white;
}